section#food-hygiene-1 {
    background-image: url(https://lead-academy.org/wp-content/uploads/2023/04/modern-kitchen-cooks-prepare-meals-stove-kitchen-restaurant-hotel-fire-kitchen-1-min-scaled-1-1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0px 0px 0px;
}

section#food-hygiene-1 h1 {
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 70px;
    background-color: #fff;
    padding: 5px 10px;
    margin: 0;
}

section#food-hygiene-1 h2 {
    color: #FFFFFF;
    font-family: "Sen", Sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    background-color: #af1f47;
    margin: 0;
    padding: 5px 10px;
}

section#food-hygiene-1 img {
    display: none;
}

section#food-hygiene-2 {
    padding: 80px 0px;
}

section#food-hygiene-2 h2 {
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 33px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

/** For Course Tab **/

button.food-hygiene-tab-link.active {
    background-color: #B91948;
    color: #FFFFFF;
}

.food-hygiene-tab-link:hover {
    background-color: #B91948;
    color: #FFFFFF;
}

button.food-hygiene-tab-link {
    text-align: center;
    color: #000000;
    padding: 15px 30px 15px 30px;
    font-family: "Sen", Sans-serif;
    font-size: 25px;
    font-weight: bold;
    outline: none;
    background: #f3f3f3;
    transition: all 300ms cubic-bezier(0,.49,.27,.99);
    position: relative;
    border-radius: 8px;
    width: 100%;
}

button.food-hygiene-tab-link.active:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    display: block;
    background: #B91948;
    left: 46%;
    transform: rotateZ(45deg);
    bottom: -8px;
}

.food-hygiene-tabs {
    padding: 0px 200px 40px 200px;
}

.food-hygiene-tab-content {
    display: none;
}

/** For Course Tab End **/

.food-hygiene-tab-content-top-text p {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 20px !important;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 35px;
}

.food-hygiene-course-box-level-3 h3 {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.food-hygiene-course-box-level-3 h3 a {
    color: #000000;
}

.food-hygiene-course-box-level-3-price {
    display: flex;
    align-items: baseline;
}

.food-hygiene-course-box-level-3-price del {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

.food-hygiene-course-box-level-3-price p {
    font-family: "Mulish", Sans-serif;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 0px;
    word-spacing: 15px;
    color: #C0234E;
}

.food-hygiene-course-box-level-3-duration img {
    width: 26px;
    height: 26px;
}

.food-hygiene-course-box-level-3-duration {
    display: flex;
    flex-wrap: wrap;
}

.food-hygiene-course-box-level-3-duration p {
    font-size: 16px !important;
    font-weight: 400;
    margin-left: 8px;
    color: #3c3c3c;
}

.ood-hygiene-course-box-level-3-text p {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 26px;
}

a.food-hygiene-course-box-level-3-button {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #B91948;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 50px 15px 50px;
    color: #fff;
    margin-top: 15px;
    display: inline-block;
    border: 3px solid #b91948;
}

a.food-hygiene-course-box-level-3-button:hover {
    background-color: #fff;
    color: #af1f47;
}

.food-hygiene-course-box-level-3 {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.food-hygiene-course-box-card h3 a {
    color: #000000;
}

.food-hygiene-course-box-card h3 {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin: 20px 0px;
}

.food-hygiene-course-box-card {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 0px 0px 20px 0px;
    margin: 0px 15px;
}

.food-hygiene-course-box-card img {
    width: 100%;
    height: auto;
}

.food-hygiene-course-box-card-price {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0px 100px;
}

.food-hygiene-course-box-card-price del {
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.food-hygiene-course-box-card-price p {
    color: #C0234E;
    font-weight: bold;
    font-size: 18px !important;
    margin-bottom: 20px;
}

a.food-hygiene-course-box-card-button {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #B91948;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    display: block;
    margin: 0px 40px;
    color: #ffffff;
    border: 3px solid #B91948;
}

a.food-hygiene-course-box-card-button:hover {
    background-color: #ffffff;
    color: #B91948;
}

.food-hygiene-3-left ul {
    padding: 0;
    margin: 0;
}

.food-hygiene-3-left ul li {
    list-style: none;
    font-family: "Sen", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    transition: color 0.3s;
    padding: 12px 0px;
    display: flex;
    align-items: flex-start;
}

.food-hygiene-3-left ul li span svg {
    width: 35px;
    padding-right: 15px;
}

.food-hygiene-3-left {
    border-right: 1px solid #00000040;
    padding: 0px 20px;
}

.food-hygiene-3-right {
    padding: 0px 20px;
}

section#food-hygiene-3 {
    padding: 50px 0px;
}

.food-hygiene-3-right {
    text-align: center;
}

.food-hygiene-3-right img {
    width: 70%;
    margin-top: 35px;
}

.food-hygiene-3-left h2, .food-hygiene-3-right h2 {
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.food-hygiene-4-part {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px;
}

.food-hygiene-4-part img {
    padding-right: 30px;
    width: 100%;
}

.food-hygiene-4-part h2 {
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 15px;
}

.food-hygiene-4-part p {
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

section#food-hygiene-4 {
    margin: 50px 0px 70px 0px;
}

section#food-hygiene-5 h2 {
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 1.3em;
    text-align: center;
}

#food-hygiene-5 div#la-single-faq {
    max-width: 798px;
    margin: 0 auto 30px;
    background-color: #ffe3ec;
}

section#food-hygiene-5 .accordion-body {
    padding-left: 27px;
}

section#food-hygiene-5 .accordion-body p {
    border-left: 1px solid #b91948;
    padding-left: 25px;
}

/** For mobile devices **/
@media (max-width: 767px) {
    section#food-hygiene-1 {
        background-image: none;
        padding: 0px 0px 0px 0px;
    }

    section#food-hygiene-1 img {
        display: inline-block;
    }

    section#food-hygiene-1 h1 {
        font-size: 28px;
        line-height: 70px;
        padding: 0px 10px;
        margin: 0;
        text-align: center;
    }

    section#food-hygiene-1 h2 {
        font-size: 26px;
        line-height: 70px;
        margin: 0;
        padding: 0px 10px;
        text-align: center;
    }

    section#food-hygiene-2 {
        padding: 50px 0px 0px 0px;
    }

    section#food-hygiene-2 h2 {
        font-size: 26px;
        margin-bottom: 40px;
    }

    /** For Course Tab **/

    button.food-hygiene-tab-link {
        padding: 15px 15px 15px 15px;
        font-size: 20px;
        margin-bottom: 35px;
    }

    .food-hygiene-tabs {
        padding: 0px 0px 15px 0px;
    }

    /** For Course Tab **/

    .food-hygiene-tab-content-top-text p {
        font-size: 16px !important;
        text-align: justify;
    }

    .food-hygiene-course-box-level-3 {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
        padding: 15px;
        margin: 0px 10px 45px 10px;
    }

    .food-hygiene-course-box-level-3 h3 {
        font-size: 20px;
        line-height: 26px;
        margin: 20px 0px;
    }

    .food-hygiene-course-box-level-3-price p {
        font-size: 18px;
    }
    
    .food-hygiene-course-box-level-3-price del {
        font-size: 16px;
    }

    a.food-hygiene-course-box-level-3-button {
        font-size: 16px;
        margin-top: 20px;
        display: block;
        text-align: center;
    }

    .food-hygiene-course-box-card h3 {
        font-size: 18px;
        padding: 0px 20px;
    }

    .food-hygiene-course-box-card-price p {
        font-size: 17px !important;
    }

    .food-hygiene-course-box-card-price del {
        font-size: 15px;
    }

    a.food-hygiene-course-box-card-button {
        font-size: 15px;
        padding: 10px 30px 10px 30px;
        margin: 0px 50px;
    }

    .food-hygiene-3-left h2, .food-hygiene-3-right h2 {
        font-size: 26px;
    }

    .food-hygiene-3-left {
        border-right: 0px solid #00000040;
        padding: 0px 10px;
    }

    .food-hygiene-3-right {
        margin-top: 30px;
    }
    
    .food-hygiene-3-right img {
        width: 90%;
        margin-top: 10px;
    }
    
    .food-hygiene-3-left ul li {
        font-size: 16px;
    }

    section#food-hygiene-3 {
        padding: 20px 0px 50px 0px;
    }

    .food-hygiene-4-part img {
        padding-right: 0px;
        padding-bottom: 30px;
    }

    .food-hygiene-4-part h2 {
        font-size: 26px;
        line-height: 35px;
    }

    .food-hygiene-4-part p {
        font-size: 16px;
    }

    .food-hygiene-4-part {
        padding: 20px;
    }

    .food-hygiene-course-box-card {
        margin: 0px 10px 45px 10px;
    }

    section#food-hygiene-5 h2 {
        font-size: 26px;
        margin-bottom: 40px;
    }

    #food-hygiene-5 div#la-single-faq {
        padding: 20px 10px;
    }

    section#food-hygiene-5 .accordion-body {
        padding-left: 25px;
    }

}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    section#food-hygiene-1 {
        background-image: none;
        padding: 0px 0px 0px 0px;
    }

    section#food-hygiene-1 img {
        display: inline-block;
    }

    section#food-hygiene-1 h1 {
        font-size: 34px;
        line-height: 70px;
        padding: 0px 10px;
        margin: 0;
        text-align: center;
    }

    section#food-hygiene-1 h2 {
        font-size: 30px;
        line-height: 70px;
        margin: 0;
        padding: 0px 10px;
        text-align: center;
    }

    section#food-hygiene-2 {
        padding: 50px 0px 0px 0px;
    }

    section#food-hygiene-2 h2 {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .food-hygiene-tabs {
        padding: 0px 10px 50px 10px;
    }

    button.food-hygiene-tab-link {
        padding: 10px 15px 10px 15px;
        font-size: 20px;
    }

    .food-hygiene-tab-content-top-text p {
        font-size: 16px !important;
    }

    .food-hygiene-course-box-level-3 h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .food-hygiene-course-box-level-3-price del {
        font-size: 16px;
    }

    a.food-hygiene-course-box-level-3-button {
        padding: 10px 50px 10px 50px;
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    .food-hygiene-course-box-card {
        margin: 0px 10px 45px 10px;
    }

    .food-hygiene-course-box-card h3 {
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0px;
    }

    .food-hygiene-course-box-card-price {
        padding: 0px 40px;
    }

    .food-hygiene-course-box-card-price del {
        font-size: 14px;
    }

    .food-hygiene-course-box-card-price p {
        font-size: 16px !important;
    }

    a.food-hygiene-course-box-card-button {
        font-size: 14px;
        padding: 8px 20px 8px 20px;
        margin: 0px 30px;
    }

    .food-hygiene-3-left h2, .food-hygiene-3-right h2 {
        font-size: 26px;
    }

    .food-hygiene-3-left {
        border-right: 0px solid #00000040;
        padding: 0px 10px;
    }

    .food-hygiene-3-right {
        margin-top: 30px;
    }
    
    .food-hygiene-3-right img {
        width: 50%;
        margin-top: 10px;
    }
    
    .food-hygiene-3-left ul li {
        font-size: 16px;
    }

    .food-hygiene-course-box-level-3 {
        margin: 0px 10px 45px 10px;
    }

    section#food-hygiene-3 {
        padding: 25px 0px 50px 0px;
    }

    .food-hygiene-4-part h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .food-hygiene-4-part p {
        font-size: 16px;
    }

    .food-hygiene-4-part img {
        padding-right: 5px;
    }

    .food-hygiene-4-part {
        padding: 20px;
    }

    section#food-hygiene-5 h2 {
        font-size: 24px;
    }

    section#food-hygiene-5 .accordion-body {
        padding-left: 25px;
    }
    
}