section#free-courses-1 {
    background: linear-gradient(90deg, #011633ed 0%, #b91948e3 100%), url(https://lead-academy.org/wp-content/uploads/0223/12/education-concept-student-studying-brainstorming-campus-concept-close-up-students-discussing-their-subject-books-textbooks-selective-focus.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px;
}

section#free-courses-1 h1 {
    color: #FFFFFF;
    font-family: "Sen", Sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1em;
}

section#free-courses-1 p {
    text-align: justify;
    color: #EFEFEF;
    font-family: "Sen", Sans-serif;
    font-size: 17px;
    font-weight: 300;
}

section#free-courses-2 {
    padding: 50px 0px;
}

.free-course-2-big-img img {
    width: 100%;
    border-radius: 60px 0px 60px 0px;
    margin-top: -500px;
    border-top: 5px solid #fff;
    border-right: 5px solid #dc3545;
    border-bottom: 5px solid #b91948;
    border-left: 5px solid #f8f8f8;
}

.free-course-2-big-img {
    padding-left: 60px;
}

.free-course-2-small-img img {
    border: 1px solid #f3f3f3;
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

section#free-courses-3 {
    padding: 50px 0px;
}

.free-courses-3-title h2 {
    color: #011633;
    font-family: "Sen", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 0;
}

.free-courses-3-title p {
    text-align: right;
    font-family: "Jost", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #6f6f6f;
}

.free-courses-3-title {
    border-bottom: 3px solid #000;
    padding-bottom: 15px;
}

.free-courses-3-btn {
    text-align: right;
}

.free-courses-3-btn a {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    fill: #FFF;
    color: #FFF;
    background-color: #B91948;
    border-radius: 3px 3px 3px 3px;
    padding: 15px 30px 15px 30px;
    border: 3px solid #b91948;
}

.free-courses-3-btn a:hover {
    background-color: #fff;
    color: #b91948;
}

.free-course-card {
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.12);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 35px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
}

.free-course-card img {
    width: 100%;
}

.free-course-info li {
    list-style: none;
    margin-top: 15px;
    color: #817F7F;
    transition: color 0.3s;
}

.free-course-info li span i {
    margin-right: 5px;
}

.free-course-info p {
    text-align: right;
    color: #B91948;
    font-family: "Sen", Sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 18px;
}

.free-course-card h3 a {
    color: #0B2B44;
    font-family: "Sen", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.free-course-card h3 {
    margin-bottom: 10px;
}

span.free-course-rating-text {
    font-family: "Sen", Sans-serif;
    font-weight: 400;
    color: #817f7f;
    margin-right: 5px;
    font-size: 15px;
}

.google-review-popup-star-icon {
    margin-bottom: 10px;
}

p.free-course-card-text {
    color: #545454;
    font-family: "Sen", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

ul.free-course-btm-info {
    margin: 0;
    padding: 0;
}

ul.free-course-btm-info li {
    list-style: none;
    font-size: 15px;
    color: #54595F;
    transition: color 0.3s;
}

ul.free-course-btm-info li span i {
    color: #B91948;
    transition: color 0.3s;
}

a.free-course-btn {
    font-family: "Sen", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #0B2B44;
    border-radius: 4px 4px 4px 4px;
    padding: 13px 25px 13px 25px;
    margin-top: 20px;
    display: inline-block;
}

a.free-course-btn:hover {
    color: #FFFFFF;
    background-color: #B91948;
}

.free-all-course-btn a {
    font-family: "Sen", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    fill: #FFF;
    color: #FFF;
    background-color: #B91948;
    border-radius: 3px 3px 3px 3px;
    padding: 15px 30px 15px 30px;
    display: inline-block;
    margin-top: 50px;
    border: 3px solid #b91948;
}

.free-all-course-btn a:hover {
    background-color: #fff;
    color: #b91948;
}

.free-all-course-btn {
    text-align: center;
}

section#free-courses-4 {
    padding: 30px 0px 50px 0px;
}

.free-courses-4-text-title {
    text-align: center;
}

.free-courses-4-text-title h2 {
    color: #011633;
    font-family: "Sen", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.free-courses-4-text-title p {
    color: #272727;
    font-family: "Sen", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
}

.free-courses-4-text-title {
    text-align: center;
}

.free-courses-4-text-title h2 {
    color: #011633;
    font-family: "Sen", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.free-courses-4-text-title p {
    color: #272727;
    font-family: "Sen", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
}

section#free-courses-4 {
    padding: 30px 0px 50px 0px;
}

.premium-courses-offer-text h2 {
    color: #B91948;
    font-family: "Sen", Sans-serif;
    font-size: 95px;
    font-weight: 600;
    margin-bottom: 0;
}

.premium-courses-offer-text p {
    color: #B91948;
    font-size: 16px;
    font-weight: 600;
}

.premium-courses-offer h3 {
    color: #000000;
    font-family: "Shadows Into Light", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin: 20px 0px;
    text-align: center;
}

div#premium-courses-offer-clock {
    text-align: center;
}

.premium-courses-countdown-item {
    font-family: "Sen", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #B91948;
    padding: 13px 0px;
    color: #fff;
    margin: 0px 5px;
    display: inline-block;
    width: 30%;
    margin-top: 20px;
}

span.time-part-text {
    font-size: 14px;
}

p.premium-courses-offer-text-2 {
    text-align: justify;
    color: #545454;
    font-family: "Sen", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 30px;
}

p.premium-courses-offer-text-2 span {
    color: #B91948;
}

.trending-courses-card img {
    width: 100%;
    height: 210px;
}

p.trending-courses-trainer {
    text-align: left;
    color: #333333;
    font-family: "Sen", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8em;
    letter-spacing: 0.2px;
}

.trending-courses-card h3 {
    margin-top: 20px;
}

.trending-courses-btn {
    margin-top: 5px !important;
}

section#free-courses-5 {
    padding: 200px 0px 100px 0px;
    background: url(https://lead-academy.org/wp-content/uploads/2022/09/bottom-border3-envato-kit0129-CC0.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    background-color: #011633;
    margin: 10px 0px;
}

.trending-courses-title-text p {
    color: #ffffff;
    font-family: "Sen", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 0.3px;
}

.trending-courses-title-text h2 {
    color: #ffffff;
    font-family: "Sen", Sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.free-course-card {
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.12);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 35px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    background-color: #fff;
}

.free-courses-6 .owl-nav {
    display: none;
}

/** For mobile devices **/
@media (max-width: 767px) {
    section#free-courses-1 {
        padding: 50px 0px 250px 0px;
    }

    section#free-courses-1 h1 {
        font-size: 30px;
    }

    section#free-courses-1 p {
        font-size: 16px;
    }

    .free-course-2-big-img {
        padding-left: 0px;
    }

    .free-course-2-big-img img {
        margin-top: -270px;
        margin-bottom: 30px;
    }

    .free-course-2-small-img img {
        width: 100%;
    }

    .free-courses-3-title h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .free-courses-3-title p {
        text-align: left;
        font-size: 12px;
    }

    .free-courses-3-btn a {
        padding: 10px;
        font-size: 12px;
    }

    .free-course-info p {
        font-size: 16px;
        text-align: left;
        margin-bottom: 5px;
    }

    .free-course-card h3 a {
        font-size: 18px;
    }

    p.free-course-card-text {
        font-size: 14px;
    }

    section#free-courses-3 {
        padding: 0px 0px 50px 0px;
    }

    .premium-courses-offer-text h2 {
        font-size: 60px;
        margin-bottom: 0;
    }

    .premium-courses-countdown-item {
        width: 25%;
        margin-top: 10px;
        padding: 10px 0px;
    }

    p.premium-courses-offer-text-2 {
        margin-top: 20px;
        text-align: center;
    }

    .premium-courses-offer h3 {
        font-size: 35px;
        text-align: center;
    }

    section#free-courses-4 {
        padding: 0px 0px 50px 0px;
    }

    section#free-courses-5 {
        padding: 130px 0px 50px 0px;
        margin: 10px 0px;
    }
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1024px) {
    .free-course-2-big-img {
        padding-left: 0px;
    }

    section#free-courses-1 {
        padding: 30px 0px;
    }

    section#free-courses-1 h1 {
        font-size: 35px;
    }

    section#free-courses-1 p {
        font-size: 16px;
    }

    .free-course-2-big-img img {
        margin-top: -327px;
    }
    
    .free-course-2-small-img img {
        width: 100%;
    }

    .free-courses-3-title h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .free-courses-3-title p {
        text-align: left;
    }

    .free-courses-3-btn a {
        padding: 10px 20px;
    }

    .free-courses-4-text-title h2 {
        font-size: 26px;
    }

    .premium-courses-offer-text h2 {
        font-size: 65px;
    }

    .premium-courses-offer h3 {
        font-size: 28px;
    }

    .premium-courses-countdown-item {
        font-size: 18px;
        width: 25%;
    }

    p.premium-courses-offer-text-2 {
        text-align: center;
    }

    section#free-courses-4 {
        padding: 0px 0px 50px 0px;
    }
}