.hero-text{
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 90px;
    background: #B9194812;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.hero-text > h1{
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}
.hero-text > p,
.hero-text > ul > li{
    color: #000000BA;
    font-family: "Sen", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}
.wrapper{
    position: relative;
    top: -40px;
}
.wrapper h2,
div.wrapper > section.mock > div > p{
    text-align:center;
}
.hero-links{
    margin-left:60px;
    margin-right:60px;
}
.box{
    text-align:center;
    box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.1);
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 30px;
    padding-bottom: 25px;
    background: #fff;
    border-radius: 20px;
    margin-bottom:30px;
    border: 1px solid #dedede;
}
.box:hover{
    background: #fff1f1;
}
.box > h2{
    text-wrap: nowrap;
    color: #B91948;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.box > a{
    font-family: "Sen", Sans-serif;
    font-weight: 600;
    color: #B91948;
    background-color: #B9194833;
    padding: 10px 20px;
}
.box > a:hover{
    background-color: #B91948;
    color: #fff;
}

table.exam-marks{
    text-align:center;
}
div.wrapper > section.mock{
    margin-top:30px;
    margin-bottom:30px;
}
section.exam-info{
    padding: 10px;
    margin-top:40px;
    margin-left: 60px;
    margin-right: 60px;
}
section.exam-info > table > tbody > tr:nth-child(odd) > td{
    color: #000000;
    background-color: #FFEAEA;
    border-style: solid;
    border-right-width: 1px;
    border-color: #FFF;
}
.promo-btn-box{
    background-color: #B91948;
}
.promo-btn-box,
.fsc-card-area{
    margin-top:40px;
    margin-bottom:40px;
}
section.exam-info > div.promo-btn-box > div.row > div:nth-child(2){
    padding-top: 10px;
    padding-bottom: 10px;
}
section.exam-info > div.promo-btn-box > div.row > div:nth-child(1){
    background-image: url("/wp-content/uploads/2022/10/secure.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 80% auto;
    opacity: 0.5;
}
section.exam-info > div.promo-btn-box h3{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom:20px;
}
section.exam-info > div.promo-btn-box h4{
    color: #F2F2F2;
    font-weight: 400;
    font-size: 18px;
}
section.exam-info > div.promo-btn-box > div.row > div:nth-child(3){
    align-content: center;
    align-items: center;
}
section.exam-info > div.promo-btn-box a{
    font-size: 16px;
    font-weight: 600;
    fill: #B91948;
    color: #B91948;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px rgba(84.75, 84.75, 84.75, 0.5);
    padding: 15px 70px 15px 70px;
}
section.mail-send,
section.mock{
    margin-left: 60px;
    margin-right: 60px;
}
.pdf-links-area{
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.pdf-links-area > table{
    font-size: 20px;
    font-weight: 600;
    border-width:0px;
    color: #B91948;
    margin-bottom:0px;
}
div.pdf-links-area > table > tbody > tr > td > a{
    color: #B91948;
}
section.exam-info > div.pdf-links-area > table > thead{
    background-color: #B9194800;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #B91948;
}
section.exam-info > div.pdf-links-area > table > tbody{
    font-size: 15px;
}
div.pdf-links-area > table > tbody > tr > td:nth-child(1){
    color: #000;
}
div.pdf-links-area > table > thead > tr > th,
div.pdf-links-area > table > tbody > tr > td{
    padding: 15px;
}
div.pdf-links-area > table > tbody > tr:nth-child(2){
    background: #f2f2f2;
}
section.exam-info > div.fsc-card-area > p,
section.mail-send > div.bottom-form > p{
    text-align: center;
    color: #000000BA;
    font-size: 18px;
    line-height: 24px;
}
section.exam-info > div.fsc-card-area > div.btn-area{
    display: flex;
    justify-content: center;
}
section.exam-info > div.fsc-card-area > div.btn-area > div.active{
    color: #000;
}
section.exam-info > div.fsc-card-area > div.btn-area > div.active::after{
    content: '';
    background-color: #B91948;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 300ms ease-out;
}
section.exam-info > div.fsc-card-area > div.btn-area > div{
    padding: 10px;
    margin:5px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #D5D5D5;
    overflow: hidden;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    color: #999;
}
div.exam-cards div.cards{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 0px 0px 20px 0px;
}
div.exam-cards div.cards > h2{
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 20px;
    margin-bottom: 0px;
    height: 115px;
    overflow: hidden;
}
div.exam-cards div.cards > div.price > del{
    font-weight: 400;
    font-size: 18px;
    color: #000;
    padding-right: 20px;
}
div.exam-cards div.cards > div.price{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #C0234E;
}
div.exam-cards div.cards > .card-btn{
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.exam-cards div.cards > .card-btn > a{
    color: #fff;
    border-radius: 5px;
    padding: 15px 50px;
    cursor: pointer;
    background-image: linear-gradient(103deg, #D64A71 0%, #C52C52 100%);
    text-wrap:nowrap;
}
div.exam-cards div.cards > img{
    width: 100%;
    height: 200px;
    /*object-fit: cover;*/
}
section.mail-send > div.bottom-form > div.btn-wrap{
    text-align:center;
    margin-top:30px;
}
section.mail-send > div.bottom-form > div > button{
    font-family: "Sen", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FF2E6A 0%, #DC328E 100%);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 10px 0px #FF2E6A;
    padding: 15px 40px 15px 40px;
}

section.hero-links > div > ul{
    background: #050225;
    border-radius: 5px;
    box-shadow: 0px 3px 20px -3px #969696;
    float: left;
    list-style: none;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    display: flex;
}
section.hero-links > div > ul > a{
    border-radius: 5px;
    color: #fff;
    float: left;
    font-family: 'sen', sans-serif;
    padding: 17px 0;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
section.hero-links > div > ul > a:hover{
    background: #AF1F47;
}
#la-mock-links ul.sticky{
    position: fixed;
    top: 0;
    border-radius: 0 0 5px 5px;
}
section.hero-links > div > ul > a{
    color: #fff;
}


section.exam-info>.partner-card .cards{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid #ffffff00;
}
section.exam-info>.partner-card .cards:hover{
    border: 1px solid #d5d5d5;
    box-shadow: 0px 0px 0px 0px #ffffff00;
}
section.exam-info>.partner-card .cards>.logo,
section.exam-info>.partner-card .cards>.text,
section.exam-info>.partner-card .cards>.btns{
    padding-left: 10px;
    padding-right: 10px;
}
section.exam-info>.partner-card .cards>.logo{
    width: 20%;
}
section.exam-info>.partner-card .cards>.text{
    width: 50%;
}
section.exam-info>.partner-card .cards>.btn{
    width: 30%;
}
section.exam-info > .partner-card div.text > p{
    height: 60px;
    overflow: hidden;
    font-size:14px;
}
section.exam-info > div.partner-card div.btns>a{
    font-family: "Sen", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: #B91948;
    padding: 9px 12px;
    text-wrap: nowrap;
    border: 1px solid #B91948;
    border-radius: 5px;
}
section.exam-info>.partner-card .cards>.btns>a:hover{
    color:#B91948;
    background-color:#fff;
}
section.exam-info>.partner-card .cards>.text>span{
    font-weight:600;
    font-size:18px;
}

.gift_course_button {
    display: none !important;
}
.gform_wrapper.gravity-theme .gform_footer, .gform_wrapper.gravity-theme .gform_page_footer{
padding: 0px !important;
}
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 999; /* Sit on top */
padding-top: 100px; /* Location of the box */
padding-bottom: 20px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
max-width: 100%;
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #f8f8f8;
margin: auto;
padding: 5px 20px 13px 20px;								  
border: 1px solid #888;
width: 420px;
max-width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

#enquiryModal textarea {
height: 100px;
}
div#gform_64_validation_container h2 {
font-size: 18px;
line-height: 26px;
}
.send-mail-submit{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}
#send-mail-btn{
    background-color: #B91948;
    color: #ffffff;
    padding: 10px;
    margin: 10px 50px 0px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
#exam-course > h2{
    margin-top: 100px;
}
#exam-course > .details-content{
    border: 1px solid #a1a1a1;
    vertical-align: center;
    font-size: 19px;
    text-align: left;
}
#exam-course > .details-content > .content-wrap{
    display: flex;
    padding: 20px;
    margin: 0px 20px;
}
#exam-course > .details-content > .content-wrap:not(:last-child){
    border-bottom: 1px solid #b1b4b6;
}
#exam-course > .details-content > .content-wrap > .title{
    font-weight: 700;
    width: 30%;
}
#exam-course > .details-content > .content-wrap > .text{
    padding-left: 20px;
}
.course-details{
    margin-top:75px;
}
.course-details > .wrap-info{
    margin: auto;
    max-width: 800px;
    padding: 20px 0px;
}
.course-details > .wrap-info:not(:last-child){
    content: "";
    border-bottom: 1px solid gray;
}
.course-details > .wrap-info > .open-content{
    display: flex;
    justify-content: space-between;
}
.course-details > .wrap-info > .open-content > .content{
    width: 90%;
}
.course-details > .wrap-info > .open-content > .plus{
    align-content: center;
    cursor: pointer;
    padding: 0 20px;
    background: #f6f6f6;
}
.course-details > .wrap-info > .open-content > .content > .title{
    font-size: 24px;
    font-weight: 700;
    color: #af1f47;
}
.course-details > .wrap-info > .open-content > .content > .sub-title{
    font-size: 20px;
}
.course-details > .wrap-info > .hidden-content{
    display: none;
}
.course-details > .wrap-info > div:nth-child(2){
    font-size:19px;
    margin-top:15px;
}
section.mock > .free-mock-test .mock-area{
    display: flex;
    margin-bottom: 60px;
}
.mock-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Sen", Sans-serif;
}
.mock-content>p>a{
    font-family: "Sen", Sans-serif;
    color: #C0234E;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}
.mock-content>h4>a{
    font-family: "Sen", Sans-serif;
    color: #C0234E;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}
.mock-content>span{
    color: #000;
    font-family: "Sen", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
.mock-content>strong{
    /*text-align: left;*/
    color: #B91948;
    font-family: "Sen", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.mock-content>.stars{
    color:#f0ad4e;
}
.mock-content>.buttons>a{
    color:#fff;
    font-family: "Sen", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #C0234E;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #B91948;
    border-radius: 35px 35px 35px 35px;
    padding: 9px 39px 9px 39px;
    text-wrap: nowrap;
}
#la-single-success-story > h2{
    text-align: left;
}

div.fsc-custom-card.english-2-fs > div.fsc-card-contents > ul{
    height: 155px;
}
div.fsc-custom-card.english-2-fs-exam > div.fsc-card-contents > ul{
    height: 220px;
}
div.fsc-custom-card.english-2-fs > div.fsc-card-contents > p.fsc-card-price-content,
div.fsc-custom-card.english-2-fs-exam > div.fsc-card-contents > p.fsc-card-price-content{
    height: unset;
}
div.fsc-custom-card.english-2-fs > div.fsc-card-contents > h3,
div.fsc-custom-card.english-2-fs-exam > div.fsc-card-contents > h3{
    margin-bottom: 0px;
}

@media (max-width: 575.98px){
    .hero-text{
        padding-left: 10px;
        padding-right: 10px;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
    .hero-text > h1{
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .hero-links,
    .exam-info{
        margin-left: 0px;
        margin-right: 0px;
    }
    .hero-links{
        margin-left:10px;
        margin-right:10px;
    }
    section.exam-info,
    section.mail-send,
    section.mock{
        margin-left: 10px;
        margin-right: 10px;
    }
    section.exam-info{
        padding: 0px;
    }
}
@media screen and (max-width: 1024px){
    section.mock > .free-mock-test .mock-area{
        display: block;
        padding: 15px;
        border: 1px solid;
        text-align: center;
    }
    .mock-content>.buttons{
        margin-top: 15px;
    }
}