.hero-text{
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 90px;
    background: #B9194812;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.hero-text > h1{
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}
.hero-text > p,
.hero-text > ul > li{
    color: #000000BA;
    font-family: "Sen", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}
.wrapper{
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    top: -40px;
}
.hero-links{
    margin-left:60px;
    margin-right:60px;
}
.box{
    text-align:center;
    box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.1);
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 30px;
    padding-bottom: 25px;
    background: #fff;
    border-radius: 20px;
    margin-bottom:30px;
    border: 1px solid #dedede;
}
.box:hover{
    background: #fff1f1;
}
.box > h2{
    text-wrap: nowrap;
    color: #B91948;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 600;
}
.box > a{
    font-family: "Sen", Sans-serif;
    font-weight: 600;
    color: #B91948;
    background-color: #B9194833;
    padding: 10px 20px;
}
.box > a:hover{
    background-color: #B91948;
    color: #fff;
}
@media (max-width: 575.98px){
    .hero-text{
        padding-left: 10px;
        padding-right: 10px;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
    .hero-text > h1{
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .wrapper{
        margin-left: 0px;
        margin-right: 0px;
    }
    .hero-links{
        margin-left:10px;
        margin-right:10px;
    }
}

table.exam-marks{
    text-align:center;
}
section.exam-info{
    padding: 10px;
    margin-top:40px;
}
section.exam-info > table > tbody > tr:nth-child(odd) > td{
    color: #000000;
    background-color: #FFEAEA;
    border-style: solid;
    border-right-width: 1px;
    border-color: #FFF;
}
.promo-btn-box{
    background-color: #B91948;
}
.promo-btn-box,
.fsc-card-area{
    margin-top:40px;
    margin-bottom:40px;
}
section.exam-info > div.promo-btn-box > div.row > div:nth-child(2){
    padding-top: 10px;
    padding-bottom: 10px;
}
section.exam-info > div.promo-btn-box > div.row > div:nth-child(1){
    background-image: url("/wp-content/uploads/2022/10/secure.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 80% auto;
    opacity: 0.5;
}
section.exam-info > div.promo-btn-box h3{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    margin-bottom:20px;
}
section.exam-info > div.promo-btn-box h4{
    color: #F2F2F2;
    font-weight: 400;
    font-size: 15px;
}
section.exam-info > div.promo-btn-box > div.row > div:nth-child(3){
    align-content: center;
    align-items: center;
}
section.exam-info > div.promo-btn-box a{
    font-size: 16px;
    font-weight: 600;
    fill: #B91948;
    color: #B91948;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px rgba(84.75, 84.75, 84.75, 0.5);
    padding: 15px 70px 15px 70px;
}
section.exam-info h2{
    text-align:center;
}
.pdf-links-area{
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.pdf-links-area > table{
    font-size: 20px;
    font-weight: 600;
    border-width:0px;
    color: #B91948;
    margin-bottom:0px;
}
div.pdf-links-area > table > tbody > tr > td > a{
    color: #B91948;
}
section.exam-info > div.pdf-links-area > table > thead{
    background-color: #B9194800;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #B91948;
}
section.exam-info > div.pdf-links-area > table > tbody{
    font-size: 15px;
}
div.pdf-links-area > table > tbody > tr > td:nth-child(1){
    color: #000;
    font-weight:100;
}
div.pdf-links-area > table > thead > tr > th,
div.pdf-links-area > table > tbody > tr > td{
    padding: 15px;
}
div.pdf-links-area > table > tbody > tr:nth-child(2){
    background: #f2f2f2;
}
section.exam-info > div.fsc-card-area > p,
section.exam-info > div.bottom-form > p{
    text-align: center;
    color: #000000BA;
    font-size: 18px;
    line-height: 24px;
}
section.exam-info > div.fsc-card-area > div.btn-area{
    display: flex;
    justify-content: center;
}
section.exam-info > div.fsc-card-area > div.btn-area > div.active{
    color: #000;
}
section.exam-info > div.fsc-card-area > div.btn-area > div.active::after{
    content: '';
    background-color: #B91948;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 300ms ease-out;
}
section.exam-info > div.fsc-card-area > div.btn-area > div{
    padding: 10px;
    margin:5px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #D5D5D5;
    overflow: hidden;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    color: #999;
}
div.exam-cards div.cards{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 0px 0px 20px 0px;
}
div.exam-cards div.cards > h2{
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 20px;
    margin-bottom:0px;
}
div.exam-cards div.cards > div.price > del{
    font-weight: 400;
    font-size: 18px;
    color: #000;
    padding-right: 20px;
}
div.exam-cards div.cards > div.price{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #C0234E;
}
div.exam-cards div.cards > .card-btn{
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.exam-cards div.cards > .card-btn > a{
    color: #fff;
    border-radius: 5px;
    padding: 15px 50px;
    cursor: pointer;
    background-image: linear-gradient(103deg, #D64A71 0%, #C52C52 100%);
}
div.exam-cards div.cards > img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
section.exam-info > div.bottom-form > div.btn-wrap{
    text-align:center;
    margin-top:30px;
}
section.exam-info > div.bottom-form > div > button{
    font-family: "Sen", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FF2E6A 0%, #DC328E 100%);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 10px 0px #FF2E6A;
    padding: 15px 40px 15px 40px;
}

.gift_course_button {
display: none !important;
}
.gform_wrapper.gravity-theme .gform_footer, .gform_wrapper.gravity-theme .gform_page_footer{
padding: 0px !important;
}
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 999; /* Sit on top */
padding-top: 100px; /* Location of the box */
padding-bottom: 20px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
max-width: 100%;
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #f8f8f8;
margin: auto;
padding: 5px 50px 13px 50px;
border: 1px solid #888;
width: 500px;
max-width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
text-align: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

#enquiryModal textarea {
height: 100px;
}
div#gform_64_validation_container h2 {
font-size: 18px;
line-height: 26px;
}
.send-mail-submit{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}
#send-mail-btn{
    background-color: #B91948;
    color: #ffffff;
    padding: 10px;
    margin: 10px 50px 0px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
input[type="submit"]{
    background-color: #B91948;
    color: #ffffff;
}
.extra-section{
    margin-top:150px;
    margin-bottom:150px;
}