/* Student ID Card */


#checkout_page-student_id_card {
    font-family: Arial, sans-serif;
    margin-left: -30px;
}

.student_id_card_banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #f97376, #d61a61);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 640px;
    height: 200px;
    margin: 20px auto;
}
.student_id_card_banner-content {
    max-width: 50%;
}
.student_id_card_banner h1 {
    font-size: 28px;
    margin: 0 0 10px;
    color: #fff;
}
.student_id_card_banner p {
    font-size: 16px;
    margin: 0 0 15px;
}
.student_id_card_add-card-btn {
    display: inline-block;
    background: white;
    color: #d61a61;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}
.student_id_card_add-card-btn:hover {
    background: #f2f2f2;
}
.student_id_card_banner-image {
    width: 40%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}
.student_id_card_banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.woocommerce-checkout dl.variation {
    display: none;
}

.woocommerce-checkout span.text-start.product-name span {
    margin-bottom: 0 !important;
    font-size: 16px;
    font-weight: 600;
}

.woocommerce-checkout  span.text-start.product-name {
    font-weight: 500 !important;
}

/* small device responsive */

@media only screen and (max-width: 380px) {
    #checkout_page-student_id_card {
        margin-left: -50px; 
    }

    .student_id_card_banner {
        flex-direction: column;
        text-align: center;
        width: 78%;
        height: auto;
        padding: 15px;
        margin-left: 60px;
    }
    
    .student_id_card_banner-content {
        max-width: 100%; 
    }

    .student_id_card_banner h1 {
        font-size: 24px; 
    }

    .student_id_card_banner p {
        font-size: 14px; 
        margin-bottom: 10px;
    }

    .student_id_card_add-card-btn {
        padding: 8px 12px;
        font-size: 14px;
    }

    .student_id_card_banner-image {
        width: 80%; 
        height: auto;
        margin-top: 15px;
    }
        

    .student_id_card_banner-image img { 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* medium device */

@media only screen and (min-width: 381px) and (max-width: 768px) {
    #checkout_page-student_id_card {
        margin-left: auto; 
    }

    .student_id_card_banner {
        flex-direction: column;
        text-align: center;
        width: 80%;
        height: auto;
        padding: 15px;
        margin-left: auto;
    }
    
    .student_id_card_banner-content {
        max-width: 100%; 
    }

    .student_id_card_banner h1 {
        font-size: 24px; 
    }

    .student_id_card_banner p {
        font-size: 14px; 
        margin-bottom: 10px;
    }

    .student_id_card_add-card-btn {
        padding: 8px 12px;
        font-size: 18px;
    }

    .student_id_card_banner-image {
        width: 80%; 
        height: auto;
        margin-top: 15px;
    }
        

    .student_id_card_banner-image img { 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.woocommerce-billing-fields__field-wrapper p#la_title_field_field,
.woocommerce-billing-fields__field-wrapper p#billing_first_name_field,
.woocommerce-billing-fields__field-wrapper p#billing_last_name_field,
.woocommerce-billing-fields__field-wrapper p#billing_birth_day_field,
.woocommerce-billing-fields__field-wrapper p#billing_birth_month_field,
.woocommerce-billing-fields__field-wrapper p#billing_birth_year_field {
    width: 33.3%;
    float: left;
}

.woocommerce-billing-fields__field-wrapper p#la_title_field_field select:focus,
.woocommerce-billing-fields__field-wrapper p#billing_first_name_field input:focus,
.woocommerce-billing-fields__field-wrapper p#billing_last_name_field input:focus {
    border: 1px solid #af1f47 !important;
}
#billing_birth_date{
    display: none;
}

th.order-actions--heading, .invoice.order-actions-button {
    display: none !important;
}

.scheduled-emails-section {
    display: none;
}