#student-id-card-banner {
    position: relative;
    padding: 100px 0px;
    background: linear-gradient(320deg, #000000b3 0%, #303131eb 100%), url(https://lead-academy.org/wp-content/uploads/2023/02/group-cheerful-students-sitting-lecture-hall-before-lesson.webp) no-repeat top center / cover;
}

#student-id-card-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://lead-academy.org/wp-content/uploads/2022/10/image-section-29-min.png') no-repeat center center;
    background-size: cover; /* Adjust the size as needed */
    opacity: 1; /* Adjust the opacity as needed */
    z-index: 1;
}

#student-id-card-banner h1 {
    color: #ffffff;
    font-family: "Sen", Sans-serif;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}

#start-saving-today h2 {
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

#start-saving-today {
    padding: 50px 0px;
}

#start-saving-today p {
    text-align: center;
    color: #4A4A4A;
    font-family: "Sen", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.start-saving-today-part-2 ul {
    padding: 0;
    margin: 0;
}

.start-saving-today-icon-text ul li {
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 15px 0px;
    display: flex;
}

.start-saving-today-icon-text ul li span {
    color: #444444;
    align-self: center;
    font-family: "Sen", Sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.start-saving-today-icon-text ul li span i {
    font-size: 20px;
    color: #b91948;
    margin-right: 10px;
}

.start-saving-today-part-2 h3 {
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.start-saving-today-part-2 img {
    width: 100%;
}

.start-saving-today-part-2 {
    margin-top: 35px;
}

.wave{
    position:absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 40px;
}

#order-your-card {
    padding: 50px 0px;
}

#order-your-card h2 {
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

#order-your-card p {
    text-align: center;
    color: #4A4A4A;
    font-family: "Sen", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

#blazing-discount-deals h2 {
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

#blazing-discount-deals p {
    text-align: center;
    color: #4A4A4A;
    font-family: "Sen", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.blazing-discount-deals-card-box-1 {
    width: 100%;
    height: auto;
}

.blazing-discount-deals-card-box-2 img {
    width: 30%;
    margin: -40px auto 0 auto;
    display: block;
    border: 3px solid #676767;
    position: relative;
    background-color: #fff;
}

.blazing-discount-deals-card-box {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin: 18px 5px;
    height: 90%;
}

.blazing-discount-deals-card-box h3 a {
    text-decoration: none;
    color: #000;
}

.blazing-discount-deals-card-box h3 {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
}

.blazing-discount-deals-card {
    margin: 20px 100px;
}

#blazing-discount-deals {
    padding: 50px 0px;
}

.student-id-card-form {
    background-color: transparent;
    background-image: linear-gradient(45deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 64%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 40px 150px 0px 150px;
    padding: 20px 35px 20px 35px;
    border-radius: 15px;
}

h2.gsection_title {
    font-size: 25px !important;
}

input#gf_coupon_button {
    padding: 13px 20px;
    background-color: #b91948;
}

span#extensions_message_8_90 {
    margin-left: 0;
    width: 100%;
}

.gform_legacy_markup_wrapper .left_label input.medium, .gform_legacy_markup_wrapper .left_label select.medium, .gform_legacy_markup_wrapper .right_label input.medium, .gform_legacy_markup_wrapper .right_label select.medium {
    width: 100%;
}

input[type=text], input[type=url], select, textarea {
    border-color: #ababab !important;
    background: #f1f0f1fc !important;
    padding: 8px !important;
    width: 100%;
}

.gform_legacy_markup_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border-color: #ababab !important;
    background: #f1f0f1fc !important;
    padding: 8px !important;
    width: 100%;
}

input#gf_coupon_code_8 {
    width: 80%;
}

select#input_8_100 {
    -webkit-appearance: none !important;
    height: 100% !important;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc) !important;
    background-position: calc(100% - 19px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em !important;
    background-size: 5px 5px, 5px 5px, 1px 1.5em !important;
    background-repeat: no-repeat !important;
    border: 1px solid #ababab !important;
    color: #000;
}

select#input_8_99_6 {
    -webkit-appearance: none !important;
    height: 100% !important;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc) !important;
    background-position: calc(100% - 19px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em !important;
    background-size: 5px 5px, 5px 5px, 1px 1.5em !important;
    background-repeat: no-repeat !important;
    border: 1px solid #ababab !important;
    color: #000;
}

input#gform_submit_button_8 {
    background-color: #b91948;
}

.gform_legacy_markup_wrapper span.ginput_total {
    color: #060;
    font-size: 20px !important;
    font-weight: bolder;
}

/* -Mobile Device- */
@media (max-width: 767px) {
    #student-id-card-banner {
        padding: 80px 0px;
    }

    #student-id-card-banner h1 {
        font-size: 28px;
    }

    #start-saving-today h2 {
        font-size: 25px;
        margin-bottom: 0px;
    }

    #start-saving-today p {
        font-size: 18px;
        margin-top: 10px;
    }

    .start-saving-today-part-2 {
        margin-top: 15px;
    }

    .start-saving-today-part-2 h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .start-saving-today-icon-text ul li span i {
        font-size: 18px;
    }

    .start-saving-today-icon-text ul li span {
        font-size: 18px;
    }

    .start-saving-today-part-2 img {
        margin-top: 30px;
    }

    #start-saving-today {
        padding: 30px 0px;
    }

    #order-your-card h2 {
        color: #000000;
        font-family: "Sen", Sans-serif;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 0px;
    }

    #order-your-card p {
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
    }

    #order-your-card {
        padding: 30px 0px;
    }

    .blazing-discount-deals-card {
        margin: 0px 0px;
    }
    
    #blazing-discount-deals h2 {
        font-size: 25px;
        margin-bottom: 0px;
    }
    
    #blazing-discount-deals p {
        font-size: 18px;
    }
    
    #blazing-discount-deals p {
        font-size: 18px;
        margin-top: 10px;
    }

    .student-id-card-form {
        margin: 40px 0px 0px 0px;
        padding: 15px 20px 15px 20px;
    }

    h2.gsection_title {
        font-size: 18px !important;
    }

    input#gf_coupon_code_8 {
        width: 60%;
    }

    input#gf_coupon_button {
        padding: 8px 20px;
    }
}

/* -Tab Device- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #student-id-card-banner {
        padding: 90px 0px;
    }

    #student-id-card-banner h1 {
        font-size: 35px;
    }

    #start-saving-today h2 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    #start-saving-today p {
        font-size: 18px;
        margin-top: 16px;
    }

    .start-saving-today-part-2 h3 {
        font-size: 25px;
    }

    .start-saving-today-part-2 img {
        width: 70%;
        margin: 40px auto 0 auto;
        display: block;
    }

    #start-saving-today {
        padding: 30px 0px;
    }

    #order-your-card {
        padding: 30px 0px;
    }

    #order-your-card h2 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    #order-your-card p {
        font-size: 18px;
    }

    #blazing-discount-deals h2 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    #blazing-discount-deals p {
        font-size: 18px;
    }

    .blazing-discount-deals-card {
        margin: 0px 0px;
    }

    .student-id-card-form {
        margin: 40px 0px 0px 0px;
    }
    
}