#our-partner-banner {
    background: linear-gradient(200deg, #b919488f 0%, #000000db 100%), url(https://lead-academy.org/wp-content/uploads/0223/12/Our-Partners.webp);
    background-size: cover;
    padding: 70px 0px;
    background-position: center;
}

#our-partner-banner h1 {
    text-align: center;
    font-family: "Sen", Sans-serif;
    font-size: 65px;
    font-weight: 600;
    color: #fff;
}

#partner-img-box {
    margin: 50px 60px;
}

.partner-img-box {
    border: 1px solid #d7d7d7;
    height: 100%;
    padding: 35px;
    box-shadow: 2px 2px 2px 1px rgb(101 101 101 / 20%);
}

.partner-img-box img {
    width: 100%;
    height: 100%;
}

.patner-mr-top {
    margin-bottom: 30px !important;
}

/* -Mobile Device- */
@media (max-width: 767px) {
    #partner-img-box {
        margin: 50px 0px;
    }
}